#main{
    max-width:100%;
    max-height: 100%;
    margin:30px auto;
    padding:15px;
    background-color: #ddddddda;
    border-radius:5px;
}
#title{
    text-align: center;
}
#main p{
    text-align: center;
}
#img-div{
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ffffff;
}